/.stack-work/
/dist-newstyle/
stack.yaml.lock
**/.DS_Store
/.hie/
.ghc.environment.*
/.hkgr/
.ghcid-output
.ghcid-trigger
dist-newstyle/
*.ghc.environment.*
.stack-work/
.DS_Store
cabal.project.local
